@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
}

.ngxmdp {
    font-family: 'Open Sans', sans-serif;
}

.ngxmdp * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.ngxmdp .selector {
    position: absolute;
    padding: 0;
    border: 0;
    border-radius: 12px;
    z-index: 15001;
    animation: selectorfadein 0.06s;
}

.ngxmdp .selector:focus {
    border: 0;
    outline: none;
}

@keyframes selectorfadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.ngxmdp .selectorarrow {
    background: #373751;
    padding: 0;
}

.ngxmdp .selectorarrow:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}


.ngxmdp .selectorarrow:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #1b1d35;
    border-width: 11px;
    margin-left: 11px;
}

.ngxmdp .selectorarrow:focus:before {
    border-bottom-color: #1b1d35;
}

.ngxmdp .selectorarrowleft:before {
    left: 24px;
}

.ngxmdp .selectorarrowright:before {
    left: 86%;
}

.ngxmdp ::-ms-clear {
    display: none;
}

.ngxmdp .headertodaybtnenabled,
.ngxmdp .headerbtnenabled,
.ngxmdp .yearchangebtnenabled {
    cursor: pointer;
}

.ngxmdp .headertodaybtndisabled,
.ngxmdp .headerbtndisabled,
.ngxmdp .yearchangebtndisabled {
    cursor: not-allowed;
    opacity: 0.65;
}

.ngxmdp .headertodaybtn {
    background: #373751;
}

.ngxmdp .header {
    width: 100%;
    height: 30px;
    border-radius: 12px 12px 0 0;
    background-color: #1B1D35;
    margin-bottom: 10px;
}

.ngxmdp .header td {
    vertical-align: middle;
    border: none;
    line-height: 0;
}

.ngxmdp .header td:nth-child(1) {
    padding-left: 4px;
}

.ngxmdp .header td:nth-child(2) {
    text-align: center;
}

.ngxmdp .header td:nth-child(3) {
    padding-right: 4px;
}

.ngxmdp .caltable,
.ngxmdp .monthtable,
.ngxmdp .yeartable {
    border-radius: 0 0 12px 12px;
}

.ngxmdp .caltable tbody tr:nth-child(6) td:first-child,
.ngxmdp .monthtable tbody tr:nth-child(4) td:first-child,
.ngxmdp .yeartable tbody tr:nth-child(7) td:first-child {
    border-bottom-left-radius: 0px;
}

.ngxmdp .caltable tbody tr:nth-child(6) td:last-child,
.ngxmdp .monthtable tbody tr:nth-child(4) td:last-child,
.ngxmdp .yeartable tbody tr:nth-child(7) td:last-child {
    border-bottom-right-radius: 0px;
}

.ngxmdp .caltable,
.ngxmdp .monthtable,
.ngxmdp .yeartable {
    table-layout: fixed;
    height: calc(100% - 50px);
    background-color: #1B1D35;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 10%;
    width: 90%;
}

.ngxmdp .caltable,
.ngxmdp .monthtable,
.ngxmdp .yeartable,
.ngxmdp .weekdaytitle,
.ngxmdp .daycell,
.ngxmdp .monthcell,
.ngxmdp .yearcell {
    border-collapse: collapse;
    color: #ffffff;
    line-height: 1.1;
}

.ngxmdp .weekdaytitle,
.ngxmdp .daycell,
.ngxmdp .monthcell,
.ngxmdp .yearcell {
    padding: 4px;
    text-align: center;
}

.ngxmdp .weekdaytitle {
    background-color: #1B1D35;
    border-right: 1px solid #868686;
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    max-width: 36px;
    overflow: hidden;
    white-space: nowrap;
    height: 30px;
}

.ngxmdp .weekdaytitle:last-of-type {
    border: 0;
}

.ngxmdp .weekdaytitleweeknbr {
    width: 20px;
    border-right: 1px solid #BBB;
}

.ngxmdp .monthcell {
    background-color: #1B1D35;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp .yearcell {
    background-color: #1B1D35;
    width: 20%;
}

.ngxmdp .daycell .datevalue {
    background-color: inherit;
    vertical-align: middle;
}

.ngxmdp .daycell .datevalue span {
    vertical-align: middle;
}

.ngxmdp .daycellweeknbr {
    font-size: 10px;
    border-right: 1px solid #CCC;
    cursor: default;
    color: #000;
}

.ngxmdp .prevmonth,
.ngxmdp .nextmonth {
    color: #CCC;
}

.ngxmdp .disabled {
    cursor: default !important;
    color: #868686 !important;
    background: #1B1D35 !important;
}

.ngxmdp .highlight {
    color: #868686;
}

.ngxmdp .dimday {
    opacity: 0.5;
}

.ngxmdp .currmonth {
    background-color: #F6F6F6;
    font-weight: normal;
}

.ngxmdp .markdate {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
}

.ngxmdp .markcurrday,
.ngxmdp .markcurrmonth,
.ngxmdp .markcurryear {
    color: #f39626;
}

.ngxmdp .selectedday .datevalue,
.ngxmdp .selectedmonth .monthvalue,
.ngxmdp .selectedyear .yearvalue {
    border: none;
    border-radius: 2px;
}

.ngxmdp .headerbtncell {
    background-color: #1B1D35;
    display: table-cell;
    vertical-align: middle;
}

.ngxmdp .yearchangebtncell {
    text-align: center;
    background-color: #1B1D35;
}

.ngxmdp .headerbtn,
.ngxmdp .headerlabelbtn,
.ngxmdp .yearchangebtn {
    background: #1B1D35;
    border: none;
    color: #fff;
    height: 22px;
}

.ngxmdp .headerbtn {
    width: 16px;
}

.ngxmdp .headerlabelbtn {
    font-size: 14px;
    outline: none;
    cursor: default;
}

.ngxmdp .headerlabelbtnnotedit {
    cursor: default;
}

.ngxmdp .headertodaybtn {
    border: 0;
}

.ngxmdp .headerbtn,
.ngxmdp .headermonthtxt,
.ngxmdp .headeryeartxt,
.ngxmdp .headertodaybtn,
.ngxmdp .yearchangebtn {
    color: #fff;
}

.ngxmdp .headertodaybtn {
    padding: 0 4px;
    border-radius: 4px;
    font-size: 11px;
    height: 22px;
    min-width: 60px;
    max-width: 84px;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp button::-moz-focus-inner {
    border: 0;
}

.ngxmdp .headermonthtxt,
.ngxmdp .headeryeartxt {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    height: 26px;
    width: 40px;
    max-width: 40px;
    overflow: hidden;
    white-space: nowrap;
}

.ngxmdp .headertodaybtn:focus {
    background: #ADD8E6;
}

.ngxmdp .headerbtn:focus,
.ngxmdp .monthlabel:focus,
.ngxmdp .yearlabel:focus,
.ngxmdp .yearchangebtn:focus {
    color: #ADD8E6;
    outline: none;
}

.ngxmdp .daycell:focus,
.ngxmdp .monthcell:focus,
.ngxmdp .yearcell:focus {
    outline: none;
}

.ngxmdp .icon-ngxmydpleft,
.ngxmdp .icon-ngxmydpright,
.ngxmdp .icon-ngxmydpup,
.ngxmdp .icon-ngxmydpdown {
    color: #222;
    font-size: 20px;
}

.ngxmdp .icon-ngxmydptoday {
    color: #222;
    font-size: 11px;
}

.ngxmdp table {
    display: table;
    border-spacing: 0;
}

.ngxmdp table td {
    padding: 0;
}

.ngxmdp table,
.ngxmdp th,
.ngxmdp td {
    border: none;
}

.ngxmdp .headertodaybtnenabled:hover {
    color: #f39626;
}

.ngxmdp .tablesingleday:hover,
.ngxmdp .tablesinglemonth:hover,
.ngxmdp .tablesingleyear:hover {
    color: #f39626;
}

.ngxmdp .monthlabel,
.ngxmdp .yearlabel,
.ngxmdp .daycell,
.ngxmdp .monthcell,
.ngxmdp .yearcell {
    cursor: pointer;
}

.ngxmdp .headerbtnenabled:hover,
.ngxmdp .yearchangebtnenabled:hover,
.ngxmdp .monthlabel:hover,
.ngxmdp .yearlabel:hover {
    color: #f39626;
}

.ngxmdp .ngxmdpicon {
    background-color: #1B1D35 !important;
    color: #B5B5B5 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 10px;
}

.ngxmdp .icon-ngxmydpright:before {
    content: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.35 50.16"><defs><style>.cls-1{fill:#B5B5B5;}</style></defs><title>sil-chev-right</title><path class="cls-1" d="M2.27,50.16a2.27,2.27,0,0,1-1.6-3.87L21.87,25.08.66,3.87A2.27,2.27,0,0,1,3.87.66L26.68,23.47a2.27,2.27,0,0,1,0,3.21L3.87,49.49A2.26,2.26,0,0,1,2.27,50.16Z"/></svg>');
}

.ngxmdp .icon-ngxmydpleft:before {
    content: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.35 50.16"><defs><style>.cls-1{fill:#B5B5B5;}</style></defs><title>sil-chev-left</title><path class="cls-1" d="M25.08,0a2.27,2.27,0,0,1,1.6,3.87L5.48,25.08,26.68,46.29a2.27,2.27,0,0,1-3.21,3.21L.66,26.68a2.27,2.27,0,0,1,0-3.21L23.48.66A2.26,2.26,0,0,1,25.08,0Z"/></svg>');
}

.ngxmdp .icon-ngxmydpup:before {
    content: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50.3 27.4" style="enable-background:new 0 0 50.3 27.4;" xml:space="preserve"><style type="text/css">.st0{fill:#B5B5B5;}</style><path class="st0" d="M50.3,25.1c0,0.6-0.2,1.2-0.7,1.6c-0.9,0.9-2.3,0.9-3.2,0L25.1,5.5L3.9,26.7c-0.9,0.9-2.3,0.9-3.2,0c-0.9-0.9-0.9-2.3,0-3.2L23.5,0.7C24,0.2,24.5,0,25.1,0c0.6,0,1.2,0.2,1.6,0.7l22.9,22.9C50,24,50.3,24.6,50.3,25.1z"/></svg>');
}

.ngxmdp .icon-ngxmydpup {
    width: 18px
}

.ngxmdp .icon-ngxmydpdown:before {
    content: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.16 27.35"><defs><style>.cls-1{fill:#B5B5B5;}</style></defs><title>sil-chev-down</title><path class="cls-1" d="M0,2.27A2.27,2.27,0,0,1,3.87.66L25.08,21.87,46.29.66A2.27,2.27,0,0,1,49.5,3.87L26.68,26.68a2.27,2.27,0,0,1-3.21,0L.66,3.87A2.26,2.26,0,0,1,0,2.27Z"/></svg>');
}

.ngxmdp .icon-ngxmydpdown {
    width: 18px;
    padding-bottom: 25px;
}

.ngxmdp .daycell {
    background-color: #1B1D35;
    border-right: 1px solid #868686;
    border-top: 1px solid #868686;
}

.ngxmdp .daycell:last-of-type {
    border-right: 0;
}

.selectorarrow:after {
    display: none;
}